<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaojin.dao.JyBaseMonitorGroupMpMapper">
    <select id="selectToMonitorByMp" parameterType="integer" resultType="com.xiaojin.domain.JyBaseMonitor">
        select a.*
        from jy_base_monitor as a
                 left join jy_base_monitor_group_mp as b on a.id = b.monitor_id
        where b.group_id = #{groupId}
    </select>
</mapper>
